---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Newsletter | Dear Fort Smith" description="Subscribe to the Dear Fort Smith newsletter." />
	</head>
	<body>
		<Header />
		<main>
			<h1>Newsletter</h1>
			<p>Coming Soon.</p>
		</main>
		<Footer />
	</body>
</html>